@import url('https://fonts.googleapis.com/css?family=Cookie|Lobster&subset=latin-ext');

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #55acee;
	font-family: 'Lobster', cursive;
}

body,
.trigger,
.tweet {
	color: #fff;
}

main,
.box,
.action {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
}

.action {
	justify-content: space-between;
	align-items: stretch;
	width: 300px;
}

main {
	width: auto;
	height: 50vh;
	justify-content: space-around;
	padding-top: 50px;
}

header h1 {
	font-size: 3em;
}

header h1,
.quote,
.author {
	font-weight: 200;
}

.quote {
	font-family: 'Cookie', cursive;
	font-size: 3em;
}

.author {
	padding-top: 10px;
	font-style: italic;
	letter-spacing: 2px;
}

.trigger,
.tweet {
	border: 1px solid #fff;
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.5em;
}

.trigger {
	background: none;
	font-style: italic;
}

.tweet {
	text-align: center;
	text-decoration: none;
}